@import "../../theme/constants.scss";

.root {
  background-color: var(--header-background-color, #012169);
  color: var(--header-color);
  width: 100%;
  transition: 0.3s;
  @media (min-width: $layout-desktop-min) {
    height: var(--header-height-desktop);
  }
}
.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
