.night {
  /* Button */
  --button-background-color: var(--tertiary-main);
  --button-color: var(--tertiary-contrast);
  --button-background-color-hover: var(--tertiary-dark);
  --button-font-family: var(--font-family-secondary);
  --button-font-weight: var(--font-weight-bold);
  --button-box-shadow-color: var(--aux-gray-1);

  /* Typography */
  --typography-color: var(--dark-contrast);

  /* Card */
  --card-background-color: var(--dark-main);
  --card-border-color: var(--gray-main);
  /* Header Banner */
  --header-banner-background-color: var(--primary-main);
}
