.day {
  /* General */
  --backdrop-background-color:#fff

  /* Button */
  --button-background-color: var(--primary-main);
  --button-color: var(--primary-contrast);
  --button-background-color-hover: var(--primary-dark);
  --button-font-family: var(--font-family-secondary);
  --button-font-weight: var(--font-weight-bold);
  --button-box-shadow-color: var(--aux-gray-1);

  /* Typography */
  --typography-color: #000;

  /* Card */
  --card-background-color: var(--white-main);
  --card-border-color: var(--gray-main);

  /* Header Banner */
  --header-banner-background-color: var(--primary-main);

  /* Header */
  --header-background-color: var(--primary-main);
  --header-color: var(--primary-contrast);
  --header-height-desktop: 66px;

  --header-item-font-weight: var(--font-weight-bold);
  --header-item-font-family: var(--font-family-main);
  --header-item-font-size: 16px;
  --header-item-color: white;
  --header-item-background-color: var(--primary-main);
  --header-item-background-color-hover: var(--primary-dark);
  --header-item-box-shadow-color: var(--aux-gray-1);
  --header-item-height: 66px;
  --header-item-height-mobile: 54px;
  /* ListFullScreen */
  --list-full-screen-color: #000;
  --list-full-screen-background-color: white;

  /* ListFullScreenRow */
  --list-full-screen-row-color: #000;
  --list-full-screen-row-background-color: inherit;
  --list-full-screen-row-background-color-hover: var(--gray-light);
  --list-full-screen-row-background-color-active: var(--gray-light);

  /* Input */
  --input-background-color: white;
  --input-border-color: var(--gray-dark);
  --input-border-color-focus: var(--primary-main);
  --input-font-weight: var(--font-weight-medium);
  --input-font-family: var(--font-family-secondary);
  --input-color: #000;

  --input-calendar-picker-indicator-filter: invert(0%);
  --input-calendar-picker-indicator-filter-focus: invert(10%) sepia(30%)
    saturate(7000%) hue-rotate(215deg);

  /* Footer */
  --footer-background-color: #000;
  --footer-color: #fff;

  /* FooterRowHeader */
  --footer-row-header-color: #fff;

  /* FooterRowText */
  --footer-row-text-color: #fff;

  /* InstructionsRow*/
  --instructions-row-background-color: #fff;
  --instructions-row-circle-border-color: var(--primary-main);
  --instructions-row-circle-background-color: #fff;
  --instructions-row-circle-font-weight: var(--font-weight-bold);

  /* Loader */
  --loader-border-top-color: var(--primary-main);
  --loader-border-color: #fff;

  /* ProtocolsRow */
  --protocol-row-color: var(--primary-main);
  --protocol-row-background-color: var(--gray-light);

  /* Dealers Row */
  --dealers-row-color: var(--primary-main);
  --dealers-row-background-color: #fff;

  /* Manager Row */
  --manager-row-color: var(--primary-main);
  --manager-row-background-color: var(--gray-light);

  /* Autocomplete */
  --autocomplete-pane-font-family: var(--font-family-secondary);
  --autocomplete-pane-color: #000;
  --autocomplete-pane-color: #000;
  --autocomplete-pane-background-color: #fff;
  --autocomplete-pane-background-color-highlight: var(--gray-light);
  --autocomplete-pane-font-weight: var(--font-weight-bold);

  /* Dashboard Template */
  --dashboard-template-border-color: var(--gray-main);
  --dashboard-template-background-color: var(--white-main);

  /* Dashboard Option */
  --dashboard-option-col-background-color: var(--white-main);
  --dashboard-option-col-item-background-color: var(--white-main);
  --dashboard-option-col-item-background-color-active-element: var(--gray-light);
  --dashboard-option-col-item-background-color-hover: var(--gray-light);
  --dashboard-option-col-item-color: #000;
  --dashboard-option-col-item-font-family: var(--font-family-secondary);
  --dashboard-option-col-item-background-shadow-color: var(--aux-gray-1);
  --dashboard-option-box-shadow-color: var(--gray-main);
  --dashboard-option-box-border-right-color-active-element: var(--primary-main);


  /* Pill Button */
  --pill-button-background-color: var(--white-main);
  --pill-button-background-color-hover: var(--gray-main);
  --pill-button-border-color: var(--gray-main);
  --pill-button-font-family: var(--font-family-secondary);
  --pill-button-font-weight: var(--font-weight-bold);
  --pill-button-color: #000;
  --pill-button-box-shadow-color: var(--aux-gray-1);
  
  /* Modal*/
  --modal-background-color: var(--dark-dark);
  --modal-opacity: 0.8;
  /* IconButton*/
  --icon-button-color:#000;
  --icon-button-color-disabled:var(--gray-light);;
  /* Radio Input */

  --radio-input-filter-checked: invert(12%) sepia(26%) saturate(7367%) hue-rotate(215deg) brightness(89%) contrast(109%);
  --radio-input-fitler-unchecked: invert(17%) sepia(10%) saturate(818%) hue-rotate(175deg) brightness(95%) contrast(85%);
  --radio-input-fitler-disabled: invert(17%) sepia(10%) saturate(818%) hue-rotate(175deg) brightness(95%) contrast(85%) opacity(70%);
  --radio-input-filter-checked-disabled: invert(12%) sepia(26%) saturate(7367%) hue-rotate(215deg) brightness(89%) contrast(109%) opacity(60%);

}
