:root {
  /* Palette */
  --primary-light: #013ab9;
  --primary-main: #012169;
  --primary-dark: #001034;
  --primary-contrast: #ffffff;

  --secondary-light: #ffc15e;
  --secondary-main: #fead54;
  --secondary-dark: #ff8600;

  --tertiary-light: #ffe850;
  --tertiary-main: #ffde00;
  --tertiary-dark: #d8bc00;
  --tertiary-contrast: #22272e;

  --aux-gray-1: #b3b3b3;
  --aux-gray-2: #707070;

  --dark-lighter: #555e6a;
  --dark-light: #555e6a;
  --dark-main: #32373e;
  --dark-dark: #22272e;
  --dark-darker: #1b1f24;
  --dark-contrast: #d9d9d9;

  --white-main: #ffffff;

  --gray-lighter: #e6e6e6;
  --gray-light: #e6e6e6;
  --gray-main: #cccccc;
  --gray-dark: #707070;
  --gray-darker: #2b2b2b;

  /* Fonts */
  --font-family-main: "PT Sans";
  --font-family-secondary: "Open Sans";
  --font-weight-book: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
