.root {
  background-color: var(--header-background-color, #012169);
  color: var(--header-color);
  width: 100%;
  height: var(--header-height-dektop);
}
.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
