.root {
  background: var(--input-background-color) 0% 0% no-repeat padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  opacity: 1;
  display: flex;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
  padding-right: 24px;
  &:focus-within {
    border-color: var(--input-border-color-focus);
  }
}

.input {
  border-width: 0px;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: var(--input-font-weight);
  font-family: var(--input-font-family);
  letter-spacing: 0;
  background-color: inherit;
  color: var(--input-color);
  &:focus {
    outline: none;
  }
}
