.root {
  background-color: #012169;
  color: #ffffff;
  padding: 14px 16px 14px 16px;
  border: none;
  border-radius: 4px;
  text-align: left;
  font: normal normal bold 14px/22px "Open Sans";
  font-weight: 700;
  letter-spacing: 0px;
  opacity: 1;
  transition: 0.4s;
  line-height: 19px;
  cursor: pointer;
  user-select: none;
}

.root:hover {
  background-color: #001034;
}
.root:active {
  background-color: #001034;
}

.root:focus,
.root:focus-within {
  box-shadow: 0 0 0 0.2rem #b3b3b3;
  outline: none;
}
