.root {
  background: var(--input-background-color) 0% 0% no-repeat padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  opacity: 1;
  display: flex;
  width: 100%;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  align-items: center;
  transition: 0.3s ease;
  transition-property: color, background-color, width, height, margin, padding,
    border, box-shadow;
  &:focus-within {
    box-shadow: 0 0 0 0.2rem var(--input-border-color-focus, #b3b3b3);
    outline: none;
    border: 1px solid transparent;
  }
  & svg {
    color: var(--input-color);
  }
}

.input {
  border-width: 0px;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: var(--input-font-weight);
  font-family: var(--input-font-family);
  letter-spacing: 0;
  background-color: inherit;
  color: var(--input-color);
  &:focus {
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    filter: var(--input-calendar-picker-indicator-filter);
  }
  &:focus::-webkit-calendar-picker-indicator {
    filter: var(--input-calendar-picker-indicator-filter-focus);
  }
}
