.day {
  /* Button */
  --button-background-color: var(--primary-main);
  --button-color: var(--primary-contrast);
  --button-background-color-hover: var(--primary-dark);
  --button-font-family: var(--font-family-secondary);
  --button-font-weight: var(--font-weight-bold);
  --button-box-shadow-color: var(--aux-gray-1);

  /* Typography */
  --typography-color: #000;

  /* Card */
  --card-background-color: var(--white-main);
  --card-border-color: var(--gray-main);

  /* Header Banner */
  --header-banner-background-color: var(--primary-main);

  /* Header */
  --header-background-color: var(--primary-main);
  --header-color: var(--primary-contrast);
  --header-height-dektop: 66px;
}
