.day {
  /* Button */
  --button-background-color: var(--primary-main);
  --button-color: var(--primary-contrast);
  --button-background-color-hover: var(--primary-dark);
  --button-font-family: var(--font-family-secondary);
  --button-font-weight: var(--font-weight-bold);
  --button-box-shadow-color: var(--aux-gray-1);

  /* Typography */
  --typography-color: #000;

  /* Card */
  --card-background-color: var(--white-main);
  --card-border-color: var(--gray-main);

  /* Header Banner */
  --header-banner-background-color: var(--primary-main);

  /* Header */
  --header-background-color: var(--primary-main);
  --header-color: var(--primary-contrast);
  --header-height-desktop: 66px;

  --header-item-font-weight: var(--font-weight-bold);
  --header-item-font-family: var(--font-family-main);
  --header-item-font-size: 16px;

  /* ListFullScreen */
  --list-full-screen-color: #000;
  --list-full-screen-background-color: white;

  /* ListFullScreenRow */
  --list-full-screen-row-color: #000;
  --list-full-screen-row-background-color: inherit;
  --list-full-screen-row-background-color-hover: var(--gray-light);
  --list-full-screen-row-background-color-active: var(--gray-light);
}
