.night {
  /* Button */
  --button-background-color: var(--tertiary-main);
  --button-color: var(--tertiary-contrast);
  --button-background-color-hover: var(--tertiary-dark);
  --button-font-family: var(--font-family-secondary);
  --button-font-weight: var(--font-weight-bold);
  --button-box-shadow-color: var(--aux-gray-1);

  /* Typography */
  --typography-color: var(--dark-contrast);

  /* Card */
  --card-background-color: var(--dark-main);
  --card-border-color: var(--gray-main);

  /* Header Banner */
  --header-banner-background-color: var(--dark-dark);

  /* Header */
  --header-background-color: var(--dark-main);
  --header-color: var(--header-contrast);
  --header-height-desktop: 66px;

  --header-item-font-weight: var(--font-weight-bold);
  --header-item-font-family: var(--font-family-main);
  --header-item-font-size: 16px;
  --header-item-color: var(--dark-contrast);
  --header-item-background-color: var(--dark-main);
  --header-item-background-color-hover: var(--dark-light);
  --header-item-box-shadow-color: var(--aux-gray-1);
  --header-item-height: 66px;

  /* ListFullScreen*/
  --list-full-screen-color: var(--dark-contrast);
  --list-full-screen-background-color: var(--dark-darker);

  /* ListFullScreenRow */
  --list-full-screen-row-color: var(--dark-contrast);
  --list-full-screen-row-background-color: var(--dark-darker);
  --list-full-screen-row-background-color-hover: var(--dark-dark);
  --list-full-screen-row-background-color-active: var(--dark-dark);

  /* Input */
  --input-background-color: var(--dark-main);
  --input-border-color: var(--gray-main);
  --input-border-color-focus: var(--tertiary-main);
  --input-font-weight: var(--font-weight-medium);
  --input-font-family: var(--font-family-main);
  --input-color: var(--dark-contrast);

  /* Footer */
  --footer-background-color: #000;
  --footer-color: #fff;

  /* FooterRowHeader */
  --footer-row-header-color: #fff;

  /* FooterRowText */
  --footer-row-text-color: #fff;

  /* HomePageRows*/
  --instructions-row-background-color: var(--dark-main);
  --instructions-row-circle-border-color: var(--tertiary-main);
  --instructions-row-circle-background-color: var(--dark-main);
  --instructions-row-circle-font-weight: var(--font-weight-bold);
  /* Loader */
  --loader-border-top-color: var(--tertiary-main);
  --loader-border-color: var(--dark-contrast);

  /* ProtocolsRow */

  --protocol-row-color: var(--dark-contrast);
  --protocol-row-background-color: var(--dark-dark);

  /* Dealers Row */
  --dealers-row-color: var(--dark-contrast);
  --dealers-row-background-color: var(--dark-main);

  /* Manager Row */
  --manager-row-color: var(--dark-contrast);
  --manager-row-background-color: var(--dark-dark);
}
