@import "../../theme/constants.scss";
@import "../../theme/z-indexes.scss";

.root {
  position: fixed;
  z-index: $dashboard-template-nav-mobile-z-index;

  bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--dashboard-template-border-color);
  @media (min-width: $layout-tablet-min) {
    position: static;

    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--dashboard-option-col-background-color);

    border: none;
  }
}
