@import "../../theme/constants.scss";

.root {
  min-height: 700px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  background-color: var(--dashboard-template-background-color);
  border-top: 1px solid var(--dashboard-template-border-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  height: calc(100vh - var(--header-item-height-mobile));

  @media (min-width: $layout-desktop-min) {
    height: calc(100vh - var(--header-height-desktop));
  }
}
.optionsCol {
  // display: none;
  align-items: flex-start;

  @media (min-width: $layout-tablet-min) {
    border-right-width: 1px;
    border-right-style: solid;
    border-color: var(--dashboard-template-border-color);

    border-top: none;

    display: flex;
  }
}

.mainCol {
  display: flex;
}
